In [1]:
import pandas as pd

In [3]:
%%bash
ls ../data/

total_cardiovascular_disease_2014_16.csv

In [4]:
df = pd.read_csv("../data/total_cardiovascular_disease_2014_16.csv")

In [5]:
df.head()

,cnty_fips,display_name,Value,theme_range,dm_prev_adj,ob_prev_adj,ltpia_prev_adj,no_hsdip,no_college,female_hd,...,medicaid,total_cost,inp_cost,ou_cost,pac_cost,total_inc,inp_inc,ou_inc,pac_inc,prev_hd
0,1001,"""Autauga, (AL)""",536.9,478.4 - 549.3 (643),11.4,36.3,30.3,12.4,75.4,11.3,...,18.1,18543,6398,2933,4254,9789,3889,904,2793,20.2
1,1003,"""Baldwin, (AL)""",457.9,429.1 - 478.3 (643),9.3,29.4,23.5,10.0,70.5,9.9,...,16.9,16865,5241,3015,3220,9258,3061,1574,2021,20.2
2,1005,"""Barbour, (AL)""",552.1,549.4 - 1202.6 (643),16.5,44.5,29.9,26.2,87.1,18.8,...,29.9,18589,6255,2744,3974,10175,3816,1346,2311,20.1
3,1007,"""Bibb, (AL)""",581.9,549.4 - 1202.6 (643),13.5,38.5,36.7,19.3,88.0,14.7,...,24.9,18938,5550,2981,4320,10769,3209,1548,2644,23.4
4,1009,"""Blount, (AL)""",542.1,478.4 - 549.3 (643),12.5,36.1,28.0,20.0,87.0,9.9,...,20.4,18644,6046,2885,4062,11291,3945,1567,2751,22.4

In [7]:
df.columns

Index(['cnty_fips', 'display_name', 'Value', 'theme_range', 'dm_prev_adj',
       'ob_prev_adj', 'ltpia_prev_adj', 'no_hsdip', 'no_college', 'female_hd',
       'foodstmp', 'home_val', 'income', 'GINI', 'povpct', 'unemploy',
       'perc_aian', 'perc_api', 'perc_black', 'perc_white', 'perc_hisp',
       'perc_65up', 'total_pop', 'airqual', 'PARKS', 'sev_housing',
       'NCHS_collapse', 'htnadh_all', 'htnadh_white', 'htnadh_black',
       'htnadh_api', 'htnadh_aian', 'htnadh_hisp', 'diuradh', 'rasadh',
       'stg_hosp', 'stg_int_cr', 'stg_rehab', 'stg_emerg', 'stg_neuro',
       'pharmpc', 'prim_dr', 'cvd_dr', 'neuro_dr', 'surg_dr', 'pctui',
       'medicaid', 'total_cost', 'inp_cost', 'ou_cost', 'pac_cost',
       'total_inc', 'inp_inc', 'ou_inc', 'pac_inc', 'prev_hd'],
      dtype='object')

In [10]:
df.neuro_dr.describe()

count    3225.000000
mean       11.781581
std        25.743101
min        -1.000000
25%        -1.000000
50%        -1.000000
75%        17.800000
max       406.600000
Name: neuro_dr, dtype: float64

In [11]:
df.describe()

,cnty_fips,Value,dm_prev_adj,ob_prev_adj,ltpia_prev_adj,no_hsdip,no_college,female_hd,foodstmp,home_val,...,medicaid,total_cost,inp_cost,ou_cost,pac_cost,total_inc,inp_inc,ou_inc,pac_inc,prev_hd
count,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,...,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000,3225.000000
mean,31492.659535,464.414419,9.773209,30.421116,24.926016,14.502636,78.936527,11.536310,14.525674,135.494233,...,20.755225,18562.266977,5829.866047,3541.172093,4138.516899,10897.701395,3664.098295,1821.863256,2653.663256,18.909240
std,16361.248863,105.651211,2.411035,7.026741,6.552927,6.966513,10.198581,4.759946,7.993521,80.123268,...,10.684718,5064.684783,2265.638460,1913.366983,2517.482669,3940.901530,2013.078396,1516.128207,2057.818563,3.516461
min,1001.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-1.000000
25%,19039.000000,392.300000,8.100000,28.200000,22.200000,9.300000,75.300000,8.500000,8.900000,88.300000,...,15.200000,16400.000000,5168.000000,2912.000000,3031.000000,9200.000000,3064.000000,1495.000000,1867.000000,17.300000
50%,30033.000000,453.200000,9.500000,31.400000,25.500000,12.900000,81.400000,10.800000,13.700000,114.000000,...,21.300000,18635.000000,5978.000000,3472.000000,4020.000000,10917.000000,3763.000000,1834.000000,2593.000000,19.100000
75%,46119.000000,529.600000,11.300000,34.300000,28.800000,18.900000,85.500000,13.700000,19.100000,157.400000,...,27.300000,20900.000000,6773.000000,4265.000000,5119.000000,12791.000000,4485.000000,2262.000000,3441.000000,20.800000
max,78030.000000,1202.600000,18.400000,48.000000,42.100000,51.500000,97.000000,40.800000,56.400000,966.600000,...,62.000000,44631.000000,22351.000000,12852.000000,20453.000000,37988.000000,20843.000000,11729.000000,19903.000000,40.800000